[Unit]
Description=Lowell Instruments DDS AWS S3 service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/li/dds/services/dds_aws_service.py

[Install]
WantedBy=multi-user.target