[Unit]
Description=Lowell Instruments DDS convert service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/li/dds/services/dds_cnv_service.py

[Install]
WantedBy=multi-user.target