[Unit]
Description=Lowell Instruments DDS BLE service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/li/dds/main.py

[Install]
WantedBy=multi-user.target